* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


.logo-marquee {
  padding: 2.5rem 0;
  position: relative;
}

.logo-marquee--gradient {
  background-image: linear-gradient(90deg, #fff 5%, hsla(200, 9%, 93%, 0) 10%),
    linear-gradient(270deg, #fff 5%, hsla(200, 9%, 93%, 0) 10%);
  top: 2.5rem;
  height: 64px;
  left: 0;
  position: absolute;
  width: 100%;
  z-index: 1;
}

.logo-marquee--marquee {
  display: flex;
  overflow: hidden;
  user-select: none;
}

.logo-marquee--marquee-group {
  animation: scroll-left 30s linear infinite;
  display: flex;
  gap: 30px;
  flex-shrink: 0;
  width: auto;
}



.swiper {
      width: 100%;
      padding-top: 80px;
      padding-bottom: 80px;
    }

.swiper-button-next svg,
.swiper-button-prev svg {
  display: none !important;
}



@media (prefers-reduced-motion) {
  .logo-marquee--marquee-group {
    animation-play-state: paused;
  }
}

.logo-marquee--marquee-group img {
  height: 64px;
  padding: 0 40px;
  width: auto;
}

@media (max-width: 991.98px) {
  .logo-marquee--marquee-group img {
    height: 56px;
    padding: 0 30px;
  }
}
@media (max-width: 767.98px) {
  .logo-marquee--marquee-group img {
    height: 48px;
    padding: 0 20px;
  }
}

@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}


.program-marquee {

  position: relative;
}

/* .program-marquee--gradient {
  background-image: linear-gradient(90deg, #fff 5%, hsla(200, 9%, 93%, 0) 10%),
    linear-gradient(270deg, #fff 5%, hsla(200, 9%, 93%, 0) 10%);
  top: 2.5rem;
  height: 64px;
  left: 0;
  position: absolute;
  width: 100%;
  z-index: 1;
} */

.program-marquee--marquee {
  display: flex;
  overflow: hidden;
  user-select: none;
}

.program-marquee--marquee-group {
  animation: scroll-left 30s linear infinite;
  display: flex;
  flex-shrink: 0;
  width: auto;
}

@media (prefers-reduced-motion) {
  .program-marquee--marquee-group {
    animation-play-state: paused;
  }
}

.program-marquee--marquee-group img {
  height: 64px;
  padding: 0 40px;
  width: auto;
}

@media (max-width: 991.98px) {
  .program-marquee--marquee-group img {
    height: 56px;
    padding: 0 30px;
  }
}
@media (max-width: 767.98px) {
  .program-marquee--marquee-group img {
    height: 48px;
    padding: 0 20px;
  }
}

@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
